.component-body-container {
    padding: 20px;
}

.custom-btn {
    padding: 10px;
    border: none;
    margin-right: 10px;
    text-transform: uppercase;
    width: 120px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.add-btn {
    background: #04a51a;
    color: #fff;
}